h1  {
  background-color: aqua;
  text-align: center;
}

h2,
p,
li  {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px
}

.optional {
  color:steelblue;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
}

.emphasized {
  font-style: italic;
}

#thick  {
  font-weight: 600;
}

li.optional  {
  
}

p {
  margin-left: 40px;
}

h2  {
  margin-left: 23px;
}

img {
  display: block;
  margin: 0 auto;
}